header.header 
    .logo
        img(src="./assets/images/content/transLight.png", alt="Logo Image")
    .navigation 
        a(href="./main.html", target="_self").navigation-link Главная
        a(href="./main.html", target="_self").navigation-link Проекты
        a(href="./main.html", target="_self").navigation-link О нас
        a(href="./main.html", target="_self").navigation-link Контакты
    